.formRegister {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.inputContainer input {
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: .5rem  ;
  background-color: #eaf0f7;
  width: 100%;
  height: 2rem;
  border-radius: 10px;
}

.buttonSubmit {
  background: linear-gradient(90deg, #0C79DD 0%, #4200FF 100%);
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  width: 15rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 10px;
}

.buttonSubmit:hover {
  background: linear-gradient(90deg, #0b69c2 0%, #3c02dd 100%);
  box-shadow: inset;
}
