.button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 0.7rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 0;
  background: linear-gradient(90deg, #0c79dd 0%, #4200ff 100%);
  color: white;
  cursor: pointer;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.button-card:hover {
  opacity: 0.9;
}
