.principalTitle {
  color: white;
  font-size: 2.5rem;
  width: 70%;
}

.slogan {
  color: #0094ff;
}

.containerPrincipal {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-left: 12rem;
}

.paragraph {
  color: white;
  font-size: 0.9rem;
}

.containerButtons {
  display: flex;
  gap: 20px;
}

.gradientButton {
  background: linear-gradient(90deg, #0c79dd 0%, #4200ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.125rem;
  border: none;
  outline: none;
  color: white;
  width: 30%;
  height: 3rem;
  cursor: pointer;
  font-size: 1rem;
}

.alternativeButton {
  border-radius: 0.125rem;
  border: 2px solid #fff;
  color: white;
  background: none;
  width: 30%;
  cursor: pointer;
}
